body { 
    font-family: 'Manjari', sans-serif;
    background-color: #212121;
}

h1 {
    font-size: 20px;
    padding: 10px 20px;
    color: #14ffec;
}

.wonderChat {
    max-width: 600px;
    margin: 30px auto;
    border: 1px solid #14ffec;
    background-color: #323232;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 15px;
}

.chatWindow {
    height: 400px;
    overflow: auto;
    background-color: #212121;
}

ul {
    list-style-type: none;
}

#chatline .message {
    padding: 14px;
    margin: 3px 20px;
    border: 1px solid #14ffec;;
    border-radius: 15px;
    width: 60%;
    background: #323232;
    color: #14ffec;
}

#chatline .time {
    padding: 14px 0;
    margin: 8.5px 100px;
    color: #14ffec;
}

#feedback p {
    color: #aaaaaa;
    padding: 14px 0px;
    margin: 0 20px;
    clear: both;
}

label {
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input {
    font-family: 'Manjari', sans-serif;
    font-size: 16px;
    width: 96.4%;
    display: block;
    background: #0d7377;
    color: white;
    padding: 10px;
    border: 1px solid #14ffec;

}

button {
    background: #323232;
    color: #14ffec;
    font-size: 20px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 15px 15px;
}

button:hover {
    background: #14ffec;
    color: #323232;
}

select {
    font-family: 'Manjari', sans-serif;
    font-size: 16px;
    width: 100%;
    display: block;
    color: white;
    border: 1px solid #14ffec;
    background: #0d7377;
    padding: 10px 8px;
}

::placeholder {
    color: #212121;
}